.responseText {
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px 0 20px;
    background-color: #B1B1A5;
    align-self: flex-start;
    margin-right: auto;
    word-break: break-word;

}
.responseFooter {
    display: flex;
    justify-content: left;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.responseFooter button {
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: inherit;
}
.code {
    border-radius: 15px;
}